*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  max-width: 1600px;
  margin: auto;
  font-optical-sizing: auto;
}
/* repeated style */
.section-title{
  line-height: 80px;
  font-size: 45px;
  color: #001931;
}
.para{
  font-size:16px ;
  color: #627382;
}

 /* header styling start */
header{
  position: sticky;
  top: 0px;
  background: #fff;
  opacity: 1;
}
nav {
  display: flex; 
  justify-content: space-between;
  margin: 0 120px;
  align-items: center;
}

nav ul{
  display: flex;
  gap:32px;
  justify-content: start;
  align-items: center;
}
nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  transition: .3s ease-in;
}
nav ul li a:hover{
  text-decoration: underline;
  color: rgba(255, 0, 0, 0.667);
}
.my-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  background:#30B868;
  padding: 12.5px 16px;
  border:none;
  border-radius: 5px;
  color:white;
  cursor: pointer;
}
.my-btn:hover{
  background:#258a4fd5;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  padding: 12.5px 16px;
  border:1px solid #ddd;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background: transparent;
}
.btn:hover{
  color:blue;
}
 /* header styling end */

/* banner section styling start */
.banner{
  background: url("./assets/hero-bg.png");
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 150px ;
}
.banner-radio-btn{
  padding: 7px 10px;
  background: #fff;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 16px;
}
.banner-radio-btn input[type="radio"]{
  accent-color: #30B868;
}
.banner-radio-btn label{
  color:black;
}
.banner-radio-btn input:checked + label{
  color:#30B868;
}
/* banner section styling end */

/* notes section styling start */
.notice-card{
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.card{
  padding: 24px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: end;
  background: #fff;
  border-radius: 10px 10px 0 0;
  margin-top: 30px;
  box-shadow: 5px 0px 5px #dddddd97;
}
.card img{
  background: rgba(249, 85, 85, 1);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.card img:hover{
  background: rgb(164, 33, 4);
}
.card h3{
  margin: 16px 0;
  font-size: 24px;
  color:#001931;
}

/* notes section styling end */


/* section solution second brain start */

.brain-content{
  display: flex;
  align-items: center;
  gap:60px;
}
.brain-info .solution{
  color:#30B868;
  font-size: 16px;
  text-transform: uppercase;
}
.brain-info ul li{
  line-height: 30px;
  display: flex;
  align-items: center;
  gap:7px;
}
/* section solution second brain end */

/* footer section start */
.footer{
  background: rgba(0, 25, 49, 1);
  color:white;
  padding: 120px 120px 30px 120px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(229, 231, 235, 0.158);
  padding-bottom: 80px;
}
.social{
  font-size: 20px;
  line-height: 40px;
}
.social-icon{
  color:black;
  display: flex;
  gap:10px;
  padding: 10px;
}
.social-icon div{
  display: inline-block;
  background: #fff;
  padding: 0 7px;
  border-radius: 50%;
}
.social-icon div:hover{
  display: inline-block;
  background: red;
  color:#fff;
  padding: 0 7px;
  border-radius: 50%;
  cursor: pointer;
}

/* footer section end */